{% extends "base.html" %}

{% block content %}
Welcome to InfoCatch, a service that, once a day, sends you an offline-viewable collection of the web content you've expressed interest in. Note that Infocatch is still being developed, so rather than delivering content to you, it will just print the url and xpath of the content you specify. 

 {% if user and not user.is_anonymous %}

To begin, enter a url into the box below. Currently, some URLs don't work. Here are two examples of URLs that work: http://sarasota.craigslist.org/search/mob?query=galaxy+note+4 and reddit.com


<form action="/subscribe/" method="post">{% csrf_token %}
    {{ urlForm }}
</form>

<br>
As this service is still being developed, it does not yet deliver content. It just prints the selected content's url and xpath below.
<br>
{{subscriptionsString|safe}}

{% else %}
<br>
To begin, please login. 

{% endif %}

{% endblock %}
