{% extends "base.html" %}

{% block content %}
Welcome to InfoCatch, a service that, once a day, sends you an offline-viewable collection of the web content you've expressed interest in.

 {% if user and not user.is_anonymous %}

To begin, enter a url into the box below and click "Load Page". Once you've been taken to the url you entered, click a link that you would open, and then hit the up arrow on your keyboard until all of the links you would consider clicking are highlighted. Then either click subscribe or hit the right arrow on your keyboard. For starters, you could enter this url - news.ycombinator.com


<form action="/subscribe/" method="post">{% csrf_token %}
    {{ urlForm }}
  <input type="submit" value="Load Page" />
</form>

<br>


 <!--{{subscriptionsString|safe}}-->

{% if subscriptionUserPairList %}
Subscriptions:
   <form action="#" method="post">{% csrf_token %}
   {% for item in subscriptionUserPairList %}
      <li>
      <input type="checkbox" name="todelete" value="{{ item.id }}">
      {{ item.subscription }}
      </li>
   {% endfor %}
   <input type="submit" value="Delete Subscription"> 


   </form>
{% else %}
   You are not subscribed to anything.
{% endif %}

{% else %}
<br>
To begin, please login. 

{% endif %}

{% endblock %}
