{{html1|safe}}

<!-- https://media.readthedocs.org/pdf/whitenoise/latest/whitenoise.pdf -->
{% load static from staticfiles%}

<script>
var similarElementsXpath;
subscribe = function(){
 console.log("right");
            var http = new XMLHttpRequest();
            var url = "/subscribe/save";
            http.open("POST",url,true);
            http.setRequestHeader("X-CSRFToken", CSRF_TOKEN);

            var parameters = {
               "url": "{{url}}",
               "xpath": similarElementsXpath,
               "data":"blarg"
            };
            console.log(JSON.stringify(parameters));
            http.send(JSON.stringify(parameters))
            document.location.href = '../'

}
</script>

<!-- <div class="centered">  -->
<button type="button" id ="subscribeButton" class="btn btn-large btn-primary" onclick="subscribe();" disabled >Subscribe</button>
<!-- </div> -->

<script>
var CSRF_TOKEN = '{{csrf_token}}';
var URL = '{{url}}';
</script>
<script src="{% static 'js/clickBehavior.js' %}"> </script>


</h1 Preparing feed of {{url}} >
</h2 Select/Deselect the link of the content you want to be delivered to you. If any types of links are highlighted that you don't want, click them to unhighlight them. The up arrow will make your selection criteria less specific, the down arrow will make it more specific. Press the right arrow on your keyboard when the content you want is highlighted.>



{{html2|safe}}
