
{{html1|safe}}

<!-- https://media.readthedocs.org/pdf/whitenoise/latest/whitenoise.pdf -->
{% load static from staticfiles%}

<script>
var similarElementsXpath;
subscribe = function(){
 console.log("right");
            var http = new XMLHttpRequest();
            var url = "/subscribe/save";
            http.open("POST",url,true);
            http.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
            http.request.onreadystatechange = function(){
                if (http.readyState==4 && http.status==200){
                document.location.href = '../'
                }
            }


            var parameters = {
               "url": "{{url}}",
               "xpath": similarElementsXpath,
               "data":"blarg"
            };
            console.log(JSON.stringify(parameters));
            http.send(JSON.stringify(parameters))
            document.location.href = '../'

}
</script>

<!-- <div class="centered">  -->

<style type="text/css">
type="button" {
position:absolute;
top: 10px;
left: 0px;
z-index: 1;

}

</style>
<button type="button" id ="subscribeButton" class="btn btn-large btn-primary" onclick="subscribe();" disabled >Subscribe</button>
<!-- </div> -->

<script>
var CSRF_TOKEN = '{{csrf_token}}';
var URL = '{{url}}';
var root = location.protocol + "//" + location.host;
var clickBehaviorLoc = root+"static/js/clickBehavior.js"

</script>

<!-- <script> src = "http://infocatch.herokuapp.com/static/js/clickBehavior.js"</script> -->
<script src="{% static 'js/clickBehavior.js' %}"> </script> 




{{html2|safe}}
